[Desktop Entry]
Name=VisiGrid
Comment=A fast, keyboard-driven spreadsheet
GenericName=Spreadsheet
Exec=visigrid %F
Icon=visigrid
Terminal=false
Type=Application
Categories=Office;Spreadsheet;
Keywords=spreadsheet;csv;tsv;data;table;formula;
StartupWMClass=visigrid
MimeType=text/csv;application/x-visigrid;text/tab-separated-values;application/json;
