[Desktop Entry]
Name=VisiGrid
Comment=Open-source desktop spreadsheet
Exec=visigrid
Icon=visigrid
Terminal=false
Type=Application
Categories=Office;Spreadsheet;
Keywords=spreadsheet;csv;data;
StartupWMClass=visigrid
